<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mpx.minipx.mapper.ManualMapper">

	<!-- 매뉴얼 목록 COUNT -->
	<select id="getManualListCount" parameterType="map" resultType="int">
	  /*getManualListCount*/
	  SELECT
	        COUNT(1) AS CNT
	    FROM tb_manual M
	   WHERE 1 = 1
	     <if test="useYn != null and useYn != ''">
	     AND M.USE_YN = #{useYn}
	     </if>
	     <if test="manualDvcd != null and manualDvcd != ''">
	     AND M.MANUAL_DVCD = #{manualDvcd}
	     </if>
	     <if test="searchKeyword != null and searchKeyword != ''">
	     AND (
	            M.MANUAL_TITLE   LIKE CONCAT('%', #{searchKeyword}, '%')
	         OR M.MANUAL_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
	         )
	     </if>
	</select>
	
	<!-- 매뉴얼 목록 조회 -->      
	<select id="getManualList" parameterType="map" resultType="map">
	  /*getManualList*/
	  SELECT
	        M.MANUAL_SEQ     AS manualSeq
	      , M.MANUAL_TITLE   AS manualTitle
	      , M.MANUAL_CONTENT AS manualContent
	      , M.MANUAL_DVCD    AS manualDvcd
	      , M.USE_YN         AS useYn
	      , M.FST_REG_SEQ    AS fstRegSeq
	      , DATE_FORMAT(M.FST_REG_DTTI, '%Y-%m-%d %H:%i:%s') AS fstRegDtti
	      , M.LST_UPD_SEQ    AS lstUpdSeq
	      , DATE_FORMAT(M.LST_UPD_DTTI, '%Y-%m-%d %H:%i:%s') AS lstUpdDtti
	    FROM tb_manual M
	   WHERE 1 = 1
	     <if test="useYn != null and useYn != ''">
	     AND M.USE_YN = #{useYn}
	     </if>
	     <if test="manualDvcd != null and manualDvcd != ''">
	     AND M.MANUAL_DVCD = #{manualDvcd}
	     </if>
	     <if test="searchKeyword != null and searchKeyword != ''">
	     AND (
	            M.MANUAL_TITLE   LIKE CONCAT('%', #{searchKeyword}, '%')
	         OR M.MANUAL_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
	         )
	     </if>
	   ORDER BY M.MANUAL_DVCD ASC, M.MANUAL_TITLE ASC, M.MANUAL_SEQ DESC
	   <if test="pageSize != null and pageSize != 0">
	   LIMIT #{pageSize}
	  OFFSET #{offset}
	   </if>
	</select>
	
	<!-- 매뉴얼 조회 -->      
	<select id="getManual" parameterType="map" resultType="camelCaseMap">
		/*getManual*/
		SELECT T1.MANUAL_SEQ              /*매뉴얼일련번호*/
		     , T1.MANUAL_TITLE            /*매뉴얼제목*/
		     , T1.MANUAL_CONTENT          /*매뉴얼내용*/
		     , T1.MANUAL_DVCD             /*매뉴얼구분코드*/
		     , T1.USE_YN                  /*사용여부*/
		     , T1.FST_REG_SEQ             /*최초등록자일련번호*/
		     , T1.FST_REG_DTTI            /*최초등록일시*/
		     , T1.LST_UPD_SEQ             /*최종수정자일련번호*/
		     , T1.LST_UPD_DTTI            /*최종수정일시*/
		  FROM tb_manual T1               /*테이블_매뉴얼*/ 
		 WHERE T1.MANUAL_SEQ = #{manualSeq}
	</select>  
  
	<!-- 매뉴얼 등록 -->
	<insert id="insertManual" parameterType="map" useGeneratedKeys="true" keyProperty="manualSeq">
		INSERT INTO tb_manual              /*테이블_매뉴얼*/ 
		     ( MANUAL_TITLE                /*매뉴얼제목*/
		     , MANUAL_CONTENT              /*매뉴얼내용*/
		     , MANUAL_DVCD                 /*매뉴얼구분코드*/
		     , USE_YN                      /*사용여부*/
		     , FST_REG_SEQ                 /*최초등록자일련번호*/    
		     , FST_REG_DTTI                /*최초등록일시*/       
		     , LST_UPD_SEQ                 /*최종수정자일련번호*/    
		     , LST_UPD_DTTI                /*최종수정일시*/       
			 ) 
		VALUES 
			 ( #{manualTitle}              /*매뉴얼제목*/
		     , #{manualContent}            /*매뉴얼내용*/
		     , #{manualDvcd}               /*매뉴얼구분코드*/
		     , #{useYn}                    /*사용여부*/
			 , #{loginUserSeq}             /*최초등록자일련번호*/                    
			 , NOW()                       /*최초등록일시*/                       
			 , #{loginUserSeq}             /*최종수정자일련번호*/                    
			 , NOW()                       /*최종수정일시*/ 		    
			 )
	</insert>	
	
	<!-- 매뉴얼 수정 -->
	<update id="updateManual" parameterType="map">
		UPDATE tb_manual
		   SET MANUAL_TITLE              = #{manualTitle}                    /*매뉴얼제목*/         
		     , MANUAL_CONTENT            = #{manualContent}                  /*매뉴얼내용*/         
		     , MANUAL_DVCD               = #{manualDvcd}                     /*매뉴얼구분코드*/       
		     , USE_YN                    = #{useYn}                          /*사용여부*/
		     , LST_UPD_SEQ               = #{loginUserSeq}                   /*최종수정자일련번호*/
		     , LST_UPD_DTTI              = NOW()                   			 /*최종수정일시*/
		 WHERE MANUAL_SEQ = #{manualSeq}
	</update>		  

</mapper>
