<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mpx.minipx.mapper.BasketMapper">
	
	<!-- 장바구니 목록 조회 -->
	<select id="getBasketList" parameterType="map" resultType="camelCaseMap">
		SELECT T1.USER_SEQ                  			/*사용자일련번호*/
			 , T1.ITEM_SEQ                  			/*상품일련번호*/
			 , T2.IMG									/*이미지*/
			 , T2.ITEM_NM								/*상품명*/
			 , T2.PRICE									/*가격*/
			 , T2.PRICE * T2.UNIT AS UNIT_PRICE    		/*단위가격*/
			 , T1.CNT                       			/*개수*/
			 , T1.CNT / T2.UNIT AS UNIT_CNT             /*단위개수*/
			 , T2.UNIT									/*판매단위*/
			 , T1.FST_REG_SEQ               			/*최초등록자일련번호*/
			 , T1.FST_REG_DTTI              			/*최초등록일시*/
			 , T1.LST_UPD_SEQ               			/*최종수정자일련번호*/
			 , T1.LST_UPD_DTTI              			/*최종수정일시*/
		  FROM tb_basket T1								/*테이블_장바구니*/
		  JOIN tb_item T2								/*테이블_상품*/
		    ON T1.ITEM_SEQ = T2.ITEM_SEQ
		 WHERE T1.USER_SEQ = #{userSeq}
		 ORDER BY FST_REG_DTTI DESC
	</select>	
	
	<!-- 장바구니 등록 -->
	<insert id="upsertBasket" parameterType="map">
		INSERT INTO tb_basket              /*테이블_상품*/ 
		     ( USER_SEQ                    /*사용자일련번호*/ 
		     , ITEM_SEQ                    /*상품일련번호*/  
		     , CNT                         /*개수*/ 
		     , FST_REG_SEQ                 /*최초등록자일련번호*/    
		     , FST_REG_DTTI                /*최초등록일시*/       
		     , LST_UPD_SEQ                 /*최종수정자일련번호*/    
		     , LST_UPD_DTTI                /*최종수정일시*/       
			 ) 
		VALUES 
			 ( #{userSeq}                  /*사용자일련번호*/            
			 , #{itemSeq}                  /*상품일련번호*/             
		     , (SELECT UNIT FROM tb_item WHERE ITEM_SEQ = #{itemSeq})    /*개수*/                 
			 , #{userSeq}                  /*최초등록자일련번호*/                    
			 , NOW()                       /*최초등록일시*/                       
			 , #{userSeq}                  /*최종수정자일련번호*/                    
			 , NOW()                       /*최종수정일시*/ 		    
			 )
			ON DUPLICATE KEY 
		UPDATE CNT         		= CNT + (SELECT UNIT FROM tb_item WHERE ITEM_SEQ = #{itemSeq})
		     , LST_UPD_SEQ 		= #{userSeq}
		     , LST_UPD_DTTI 	= NOW();
	</insert>	
	
	<!-- 장바구니 추가 -->
	<update id="updateBasketCnt" parameterType="map">
	    UPDATE tb_basket
	       SET CNT         		= #{cnt}
	         , LST_UPD_SEQ 		= #{userSeq}
	         , LST_UPD_DTTI 	= NOW()
	     WHERE USER_SEQ   		= #{userSeq}
	       AND ITEM_SEQ			= #{itemSeq}
	</update>	
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteBasket" parameterType="map">
		DELETE FROM tb_basket
	     WHERE USER_SEQ   		= #{userSeq}
	       AND ITEM_SEQ			= #{itemSeq}
	</delete>	
	
	<!-- 주문 등록 -->
	<insert id="insertOrderList" parameterType="map">
		INSERT INTO tb_order				/*테이블_주문*/ 
		     ( USER_SEQ                     /*사용자일련번호*/
			 , ITEM_SEQ                     /*상품일련번호*/
			 , PRICE                        /*가격*/
			 , CNT                          /*개수*/
			 , ORDER_STATUS_CODE            /*주문상태코드*/
			 , ORDER_DTTI					/*주문일시*/
			 , FST_REG_SEQ                  /*최초등록자일련번호*/
			 , FST_REG_DTTI                 /*최초등록일시*/
			 , LST_UPD_SEQ                  /*최종수정자일련번호*/
			 , LST_UPD_DTTI                 /*최종수정일시*/
			 )
		VALUES 
		<foreach collection="itemSeqList" item="itemSeq" separator=",">
		 	 ( #{userSeq}                   /*사용자일련번호*/                      
			 , #{itemSeq}                   /*상품일련번호*/                       
			 , (SELECT PRICE FROM tb_item WHERE ITEM_SEQ = #{itemSeq})                     				/*가격*/                           
			 , (SELECT CNT FROM tb_basket WHERE ITEM_SEQ = #{itemSeq} AND USER_SEQ = #{userSeq})        /*개수*/                           
			 , '01'                         /*주문상태코드(01:구매요청, 02:배송중, 03:미결제, 04:송금완료, 11:구매완료, 12:품절, 91:취소)*/    
			 , NOW()						/*주문일시*/
			 , #{userSeq}                   /*최초등록자일련번호*/                    
			 , NOW()                    	/*최초등록일시*/                       
			 , #{userSeq}                   /*최종수정자일련번호*/                    
			 , NOW()                    	/*최종수정일시*/                       
			 )	 
		 </foreach>
	</insert>
	
	<!-- 장바구니 여러 건 삭제 -->
	<delete id="deleteBasketList" parameterType="map">
		DELETE FROM tb_basket
	     WHERE USER_SEQ   		= #{userSeq}
	       AND ITEM_SEQ	IN
        	<foreach collection="itemSeqList" item="itemSeq" open="(" close=")" separator=",">
               #{itemSeq}
        	</foreach>
	</delete>			
</mapper>