<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" status="INFO">
<!-- 로그레벨 OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
 
<!--  
%m: 로그 내용 출력
%p: debug, info, warn, error, fatal 등의 priority 출력
%r: 어플이 시작 후 이벤트가 발생하는 시점까지의 경과시간 밀리세컨드로 출력
%c: package 출력
%c{n}: n(숫자) 만큼의 package를 가장 하단 부터 역으로 출력
예) %c{2} 일때 a.b.c 는 b.c 로 출력된다.
%n: 개행문자 출력. 플렛폼에 따라 \r\n 또는 \n 출력.
%d: 이벤트 발생 날짜 출력 ( 프로그램의 실행속도를 느리게 한다.)
예) %d{HH:mm:ss} 또는 %d{dd MMMM yyyy HH:mm:ss}
%C: 호출자의 클래스명 출력
예) %C{2} 일때 a.b.c.TestClass 는 c.TestClass 로 출력된다.
%M: method 이름.
%F: 프로그램 파일명.
%l: caller의 정보
%L: caller의 라인수
%x: thread와 관련된 NDC(nested diagnostic context)
%X: thread와 관련된 MDC(mapped diagnostic context)
%%: % 표시를 출력
%t: 쓰레드 이름
-->

  <Appenders>

    <!-- 일반 콘솔 로그 -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p %d{yyyy-MM-dd HH:mm:ss,SSS} [%C{2}.%M] %m%n"/>
    </Console>

    <!-- log4jdbc 전용 콘솔 -->
    <Console name="SpyConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p %d{yyyy-MM-dd HH:mm:ss,SSS} [%C{2}.%M] %m%n"/>
      <RegexFilter
        regex=".*Connection\.isValid\("
        onMatch="DENY"
        onMismatch="ACCEPT"/>
    </Console>

    <!-- SQL만 깔끔하게 출력하고 싶을 때 -->
    <Console name="SqlConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%n%n%m%n%n"/>
    </Console>

  </Appenders>

  <Loggers>
  
    <!-- CORS 디버깅용 로그 -->
    <Logger name="org.springframework.web.cors" level="DEBUG" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.web.filter.CorsFilter" level="DEBUG" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>  
    
    <!-- security 로그 -->
	<Logger name="org.springframework.security" level="DEBUG" additivity="false">
	    <AppenderRef ref="Console"/>
	</Logger>
	<Logger name="org.springframework.security.web.FilterChainProxy" level="INFO" additivity="false">
	    <AppenderRef ref="Console"/>
	</Logger>	    

    <!-- log4jdbc는 SpyConsole로만 출력 (root로 안 올림) -->
    <Logger name="log4jdbc" level="INFO" additivity="false">
      <AppenderRef ref="SpyConsole"/>
    </Logger>

    <!-- SQL + 실행 시간(ms) 로그 -->
    <Logger name="jdbc.sqltiming" level="OFF" additivity="false">
      <AppenderRef ref="SqlConsole"/>
    </Logger>

    <!-- 순수 SQL 문장 로그 -->
    <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
      <AppenderRef ref="SqlConsole"/>
    </Logger>

    <!-- 기본(root) 로그는 Console로 -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>

  </Loggers>

</Configuration>
