@charset "UTF-8";

#centerCon{
	flex: 10% 0.8 0;
}

button{
	font-size: 1rem;
}

.itemImg{
	width: 80%;
}

.itemBlock {
    box-sizing: border-box;
}

.itemBox{
	display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.itemCard {
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    height: 95%;
}

.itemImgBox{
	text-align: center;
}

.itemPrice{
	text-align: right;
	color: #b50707;
}

.itemBtn{
	text-align: right;
/* 	height: 3.5rem; */
}

.searchLogoBtn{
    height: 100%;
    border: solid 1px gray;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 34%);
    margin: 0 1rem;
    border-radius: 3px;
}

.itemInfo{
	margin: 5px 0;
	font-weight: bold;
}

.schTag{
	margin: 2px;
}

.itemName {
    display: inline-block;
    min-height: 3rem;
}

#searchBox{
	display: flex;
	flex-wrap: wrap; /* 요소가 넘칠 경우 다음 줄로 넘김 */
	justify-content: left;
    position: sticky;
    top: 0;
    background-color: white;
}

.itemCard:hover .itemImg {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

/* 반응형 스타일 시작 */
/* 화면이 ?px 이상일 때 */
@media screen and (min-width: 0px){
	.itemBlock{
		flex: 0 0 33%;
	}	
}    
@media screen and (min-width: 900px){
	.itemBlock{
		flex: 0 0 25%;
	}	
} 
@media screen and (min-width: 1200px){
	.itemBlock{
		flex: 0 0 20%;
	}	
} 
/* 반응형 스타일 끝 */

.category{
    border-top: 2px solid #475967;
    margin-bottom: 5px;
}

.listpage-wrap {
    margin: 15px 0 0 0;
}

.listpage-wrap ul, .listpage-wrap li{
	list-style: none;
	padding-left: 0;
}

.listpage-wrap .category li.active {
    font-weight: bold;
    color: #fff;
    background-color: #4e7ebb;
}

.listpage-wrap .category li:nth-child(4n+1) {
    border-left: 1px solid #e0e0e0;
}

.listpage-wrap .category li {
    width: 25%;
    float: left;
    line-height: 45px;
    padding-left: 20px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.clear:after {
    content: '';    /* 가상 요소의 내용을 빈 문자열로 설정합니다. 실제로 보이는 내용이 없습니다. */
    display: block; /* 가상 요소를 블록 레벨 요소로 만들어 줍니다. */
    clear: both;    /* 왼쪽과 오른쪽에 부유된(floated) 요소가 있을 때, 가상 요소는 그 아래에 배치되도록 합니다. 이는 부모 요소가 부유된 자식 요소의 높이만큼 자동으로 늘어나게 해주어, 자식 요소가 부모 요소 밖으로 "벗어나는" 것을 방지합니다. */
}

.filter .sorting {
    float: right;
}

.filter .sorting li.active {
    color: #3153ff;
    font-weight: bold;
}

.filter .sorting li {
    display: inline-block;
    margin-left: 23px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
}

.noItemMsgBox {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #6c757d;
    font-weight: bold;
}
