// 색상, spacing 등 변수

// 색상
$primary-color: #0c254d;
$secondary-color: #f4f4f4;
$text-color: #333;
$color-red: #c20000;
.red {
    color: $color-red;
}

// 폰트
$font-family-base: 'Pretendard', sans-serif;

// spacing
$padding-base: 16px;
$border-radius-base: 6px;